<div class="{% if block.settings.title != blank %}sf__accordion-content{% endif %} sf__footer-block-content">
  <div class="pb-5 md:pb-0">
    {% if block.settings.html != blank %}
      <div class="mt-0{% if block.settings.title != blank %} md:mt-4{% endif %} block-text">
        {{ block.settings.html }}
      </div>
    {% endif %}
  </div>
</div>
