{% unless settings.product_compare_page == blank %}
    <a href="{{ pages[settings.product_compare_page].url }}" class="{{ box_size | default : 'relative px-2 py-3.5' }}">
    {% if display_by == 'icon' %}
        <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
            <svg class="w-[20px] h-[20px]" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M164 384h-44V48a16 16 0 0 0-16-16H88a16 16 0 0 0-16 16v336H28a12 12 0 0 0-8.73 20.24l68 72a12 12 0 0 0 17.44 0l68-72A12 12 0 0 0 164 384zm200.72-276.24l-68-72a12 12 0 0 0-17.44 0l-68 72A12 12 0 0 0 220 128h44v336a16 16 0 0 0 16 16h16a16 16 0 0 0 16-16V128h44a12 12 0 0 0 8.72-20.24z" class=""></path></svg>
            <span class="sf__tooltip-content">{{ 'layout.compare.title' | t }}</span>
        </span>
    {% else %}
        {{ 'layout.compare.title' | t }}
    {% endif %}
</a>
{% endunless %}
